.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.day-forecast {
    width: 150px;
    height: 220px;
    background-color: #ffffff;
    font-size: 12px;
}

.day-forecast__week-day {
    height: 15%;
}

.day-forecast__date {
    height: 10%;
    font-size: 20px;
    font-weight: 600;
}