.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.day-forecast {
    width: 180px;
    height: 250px;
    background-color: #ffffff;
    font-size: 13px;
    border: 1px solid #f4f4f4;
}

.day-forecast__week-day {
    padding-top: 10px;
    font-size: 15px;
}

.day-forecast__date {
    font-size: 25px;
    font-weight: 600;
}

.day-forecast__icon-container {
    padding-top: 10px;
}

.day-forecast__icon {
    width: 70px;
    height: 70px;
}

.day-forecast__temperature-day {
    padding-top: 10px;
    font-size: 25px;
    font-weight: 600;
}

.day-forecast__temperature-night {
    font-size: 16px;
    color: #6f6f6f;
}

.day-forecast__precipitation {
    font-size: 16px;
    color: #6f6f6f;
    padding-top: 15px;
}