* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Calibri;
}

#main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    height: 400px;
    background-color: #f4f4f4;
}